<header>
  
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><h1 class="site-title"><a href="/">{{ site.name }}</a></h1></li>>
        <li><a href="/"><i class="fa fa-home"></i>Main Page</a></li>
        <li><a href="/members"><i class="fa fa-info-circle"></i>Members</a></li>
        <li><a href="/research"><i class="fa fa-check"></i>Research</a></li>
        <li><a href="/publication"><i class="fa fa-star"></i>Publication</a></li>
      </ul>
    </div>
  </nav>
</header>